<% provide(:title, "Products") %>
<h1 class="page-head">'<%= @feature.description %>' Products</h1>
<h5 class="page-subhead">Amazon Links are often blocked by adblockers. If you are using an adblocker, please disable it and refresh this page to view products.</h5>
<div class="row">
    <% @products.each do |product| %>
        <div id="<%= " product_#{product.id}" %>" class="large-4 medium-6 small-12 columns">
            <div class="amzn-link"><%= product.image_link.html_safe %></div>
            <p class="title"><%= product.text_link.html_safe %></p>
            <p class="info"><%= product.additional_info %></p>
        </div>
    <% end %>
</div>
