<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="google-site-verification" content="utGPFF-DYQp9yjdEFdQCoPuOQUAYOHvuC35hw2-BOik" />

        <title><%= yield(:title) %> | IntelliHome</title>

        <%= stylesheet_link_tag    "application" %>
        <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                },
                i[r].l = 1 * new Date();
                a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-89110215-1', 'auto');
            ga('send', 'pageview');
        </script>
    </head>

    <body>
        <!-- HEADER -->
        <%= render 'layouts/header' %>

        <!-- BODY -->
        <% flash.each do |message_type, message| %>
        <div class="<%= message_type %> callout" data-closable>
            <%= message %>
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% end %>
        <%= yield %>

        <!-- FOOTER -->
        <%= render 'layouts/footer' %>
        <%= debug(params) if Rails.env.development? %>
    </body>
</html>
